__pycache__/
*.py[cod]
*$py.class
env/
venv/
.env
.DS_Store
uploads/
processed/
logs/
instance/
.idea/
.vscode/
SmartCSV-Automated_ETL_And_Insight_Generation_Platform/
SmartCSV-_Automated_ETL_-_Insight_Generation_Platform/
